@font-face {
  font-family: 'HookedUp101';
  src: url("hooked_up_101-webfont.eot");
  src: url("hooked_up_101-webfont.eot?#iefix") format("embedded-opentype"), url("hooked_up_101-webfont.woff") format("woff"), url("hooked_up_101-webfont.ttf") format("truetype"), url("hooked_up_101-webfont.svg#HookedUp101Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #cadbdf;
  color: #10272e;
  font-size: 100%;
  font-family: "Helvetica", "Arial", sans-serif; }

h1 {
  font-family: "HookedUp101", "Arial", sans-serif;
  font-weight: normal;
  font-size: 70px;
  letter-spacing: -1px;
  text-shadow: #aeb4b5 4px 2px; }

h2 {
  font-size: 16px; }

p {
  line-height: 24px;
  margin: 0; }

html,
body {
  width: 100%;
  height: 100%; }

.btn-test, .search-submit, .btn-play, #game-play .btn-stop, .btn-exit, .btn-replay {
  width: 69px;
  height: 40px;
  border: 0;
  outline: none;
  line-height: 25px;
  background: url("../img/button-hover.png") no-repeat;
  color: white;
  cursor: pointer; }
  .btn-test:hover, .search-submit:hover, .btn-play:hover, #game-play .btn-stop:hover, .btn-exit:hover, .btn-replay:hover {
    background-image: url("../img/button.png");
    color: #10272e; }

#app {
  width: 100%;
  height: 100%; }

#intro {
  position: relative;
  margin: 0 auto;
  width: 80%;
  padding-top: 95px;
  text-align: center; }

.intro-header {
  margin: 0;
  font-size: 140px;
  padding-bottom: 40px; }

.search-query {
  padding: 4px 8px;
  border: 1px solid #10272e; }

.search-results-loading {
  display: none;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background: url("../img/loading.gif") no-repeat; }
  .search-results-loading.loading {
    display: block; }

.search-results-list {
  list-style: none; }

.search-results-item {
  padding: 5px 10px;
  cursor: pointer; }
  .search-results-item:hover {
    background-color: #10272e;
    color: white; }

#game-splash {
  position: relative;
  margin: 0 auto;
  width: 80%;
  padding-top: 95px;
  text-align: center; }

.btn-play {
  margin-top: 10px; }

/* GAME PLAY */
#game-play {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#game-container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#audio-player {
  position: absolute;
  top: -100px;
  z-index: 2;
  visibility: hidden;
  width: 50px;
  height: 50px; }

#game-play .logo {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "HookedUp101", "Arial", sans-serif;
  font-weight: normal;
  margin: 0;
  font-size: 45px;
  padding-bottom: 40px;
  letter-spacing: -1px;
  text-shadow: #aeb4b5 2px 1px; }

#game-play .btn-stop {
  position: absolute;
  top: 17px;
  right: 130px; }

/* GAME END */
#game-end {
  position: relative;
  margin: 0 auto;
  width: 80%;
  padding-top: 95px;
  text-align: center; }

.btn-replay {
  margin-right: 20px; }

.btn-exit, .btn-replay {
  margin-top: 10px; }

#preload {
  position: relative;
  margin: 0 auto;
  width: 80%;
  padding-top: 95px;
  text-align: center; }
